.quiz-container {
  margin-top: 20px;
  background-color: rgb(228, 226, 226);
  border-radius: 5px;
  border: none;
  padding: 15px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(58, 58, 58);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

label {
  font-size: 18px;
  font-family: garamond;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

.score-space {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}